# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('../Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [4]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [5]:
# Set the date column as the DataFrame index
date_index = df.set_index('date')

In [6]:
# Drop the date column
date_index.reset_index(drop=True, inplace=True)
date_index.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [7]:
from scipy import stats

In [8]:
# Filter data for desired months
jun = df.loc[df['date'].dt.month == 6]
jun.head()

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77

In [9]:
dec = df.loc[df['date'].dt.month == 12]
dec.head()

         station       date  prcp  tobs
305  USC00519397 2010-12-01  0.04    76
306  USC00519397 2010-12-03  0.00    74
307  USC00519397 2010-12-04  0.00    74
308  USC00519397 2010-12-06  0.00    64
309  USC00519397 2010-12-07  0.00    64

In [10]:
# Identify the average temperature for June
jun['tobs'].mean()

74.94411764705882

In [11]:
june_stats = pd.DataFrame(jun['tobs'].describe())
june_stats

              tobs
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [12]:
# Identify the average temperature for December
dec['tobs'].mean()

71.04152933421226

In [13]:
dec_stats = pd.DataFrame(dec['tobs'].describe())
dec_stats

              tobs
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [14]:
# Create collections of temperature data
jun_list = jun['tobs'].tolist()
dec_list = dec['tobs'].tolist()

In [18]:
# Run paired t-test
#stats.ttest_rel(jun_list, dec_list)
stats.ttest_rel(june_stats['tobs'], dec_stats['tobs'])

Ttest_relResult(statistic=1.1546264585830088, pvalue=0.28613350174458574)

### Analysis

For this analysis a paired t-test was used because samples were obtained from the same group and we are comparing temperatures of two seperate months that being of June and December. The pvalue is greater than 0.05 therefore it is not statistically significant. There is no significant difference in temperature averages between June's data and December's data.